h1{  font-style: italic;
 text-align: center;
  font-size: 65px;
  color:rgb(34, 197, 97);
color: linear-gradient(90deg, rgba(34, 197, 97, 1) 20%, rgba(41, 223, 32, 1) 44%, rgba(22, 228, 142, 1) 66%, rgba(29, 172, 56, 1) 88%);}


body{
  background: #0A0A0C;
}
h2{
  text-align: center;
  font-size: 35px;
  color:rgb(34, 197, 97);
  color: linear-gradient(90deg, rgba(34, 197, 97, 1) 20%, rgba(41, 223, 32, 1) 44%, rgba(22, 228, 142, 1) 66%, rgba(29, 172, 56, 1) 88%);
  
}